<template>
  <div class="home">
    <div id="nav">
      <ul class="nav nav-pills justify-content-end fixed-top">
        <img src="@/assets/Logo2.png" class="logo">
        <li class="nav-item">
          <a class="nav-link aktif" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tentang</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/layanan">Layanan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mulai" href="/kategori">Mulai di sini</a>
        </li>
      </ul>
    </div>
    <HomeComponent>
      <h1 slot="title">Why brother when you can order?</h1>
    </HomeComponent>
  </div>
</template>

<script>
// // @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import HomeComponent from '@/components/HomeComponent.vue'

export default {
  name: 'home',
  components: {
    // HelloWorld
    HomeComponent
  }
}
</script>

<style scoped>
.nav {
  padding: 15px;
  font-family: 'Rubik', sans-serif;
  background-color: white;
}
.nav-link {
  color: #B1B1B1;
  font-family: 'Rubik', sans-serif;
}
.nav-link:hover {
 color: #1FAB89;
 border-color: #1FAB89;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
.aktif {
  color: #1FAB89;
}
.mulai{
  color: #4D4D4D;
  border: 3px solid #4D4D4D;
  border-radius: 6px;
}
.logo{
  margin-right: 50%;
}
</style>
