<template>
    <div class="food">
        <div class="a" v-for="foods in food" :key="foods.idMeal">
            <img :src="foods.strMealThumb" alt="">
            <p>{{foods.strMeal}}</p>
        </div>
    </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'detailcomponent',
  data () {
    return {
      food: {}
    }
  },
  created () {
    const id = this.$route.params.id
    axios.get('https://www.themealdb.com/api/json/v1/1/filter.php?c=' + id)
      .then((response) => {
        this.food = response.data.meals
      })
  }
}
</script>

<style lang="scss" scoped>
.food{
    margin-top: 7%;
    margin-left: 3%;
}
.a{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    height: 230px;
    img{
        margin-top: 7%;
        width: 150px;
        height: 150px;
    }
    p{
        padding-top: 10px;
    }
}
</style>
