<template>
    <div class="app">
        <link href="https://fonts.googleapis.com/css?family=Karla|Rubik|Rubik+Mono+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <div class="header">
            <div class="col">
                <div class="col-md-6">
                     <slot name="title"></slot> <img src="@/assets/Highlighter.png">
                     <p>Dengan <b>Autofood</b> semua permasalahan lapar dapat terselesaikan. Tidak perlu lagi bingung mengantri dan terjebak macet. karena semua sudah Auto-selesai dengan <b>Autofood!</b></p>
                     <button class="ttgkami">TENTANG KAMI</button><br>
                     <img class="grp" src="@/assets/Group.png" alt="">
                </div>
                <div class="col-md-6">
                    <div class="gambar">
                        <img src="@/assets/Slideshow.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sekilas">
            <div class="col2">
                <div class="col-md-6">
                    <img src="@/assets/tentang.png">
                </div>
                <div class="col-md-6">
                    <p>sekilas tentang</p>
                    <img class="auto" src="@/assets/Autofood.png" alt=""> <img src="@/assets/Logo1.png">
                    <p class="text">Adalah aplikasi untuk memudahkan kebutuhan sehari hari terutama dalam masalah makanan. Kini anda tak perlu lagi datang langsung ke tempat untuk memesan makanan. Anda hanya perlu menggunakan Autofood dan masalah Auto-selesai.</p>
                    <button class="layanan">LAYANAN KAMI</button>
                </div>
            </div>
            <div class="col3">
                <div class="col-md-4">
                    <img src="@/assets/Restaurant.png" alt="">
                </div>
                <div class="col-md-4">
                    <img src="@/assets/Pengguna.png" alt="">
                </div>
                <div class="col-md-4">
                    <img src="@/assets/Diunduh.png" alt="">
                </div>
            </div>
        </div>
        <div class="body">
            <div class="col4">
                <div class="col-md-4 sidebar">
                    <img src="@/assets/Logo2.png" alt="">
                    <h1>Kami menawarkan solusi.</h1>
                    <!-- <img class="hi" src="@/assets/Highlighter2.png" alt=""> -->
                    <h5 class="pesan">PEMESANAN</h5>
                    <h5 class="biasa">PEMBAYARAN</h5>
                    <h5 class="biasa">PENGIRIMAN</h5>
                    <img class="plate" src="@/assets/Plater.png" alt="">
                </div>
                <div class="col-md-8 col5">
                    <div class="card">
                        <h5>Pemesanan</h5>
                        <img src="@/assets/order.png" alt="">
                        <p>Anda dapat memesan makanan ke restaurant favorit di sekitar. Memudahkan pembelian makanan tanpa harus mengantri.</p>
                    </div>
                    <div class="card">
                        <h5>Pembayaran</h5>
                        <img src="@/assets/Pembayaran.png" alt="">
                        <p>Pembayaran semakin mudah terintegrasi dengan Virtual payment seperti Ovo, Dana, dan Mobile banking dari bank ternama.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="unduh">
            <img class="bg" src="@/assets/bg.png" alt="">
            <div class="unduh-card">
                <div class="title">
                    <h3>Unduh</h3> <img src="@/assets/Logo2.png" alt="">
                </div>
                <div class="bdy">
                    <p>Unduh dan pasang aplikasi Autofood di handphone anda sekarang juga. Tersedia pada iOS dan Android.</p>
                </div>
                <div class="ftr">
                    <button><i class="fab fa-app-store-ios"></i> IOS App Store</button>
                    <button><i class="fab fa-google-play"></i> Google Play</button>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="col6">
                <div class="col-md-3">
                    <img class="lgo" src="@/assets/Logo2.png" alt="">
                </div>
                <div class="col-md-1 umum">
                    <h5><b>Umum</b></h5>
                    <div class="isi-umum">
                        <p>Home</p>
                        <p>Tentang</p>
                        <p>Layanan</p>
                        <p>Download</p>
                    </div>
                </div>
                <div class="col-md-2 layan">
                    <h5><b>Layanan</b></h5>
                    <div class="isi-layan">
                        <p>Pemesanan</p>
                        <p>Pembayaran</p>
                        <p>Pengiriman</p>
                    </div>
                </div>
                <div class="col-md-2 bantuan">
                    <h5><b>Bantuan</b></h5>
                    <div class="isi-bantuan">
                        <p>Ketentuan Layanan</p>
                        <p>Privasi</p>
                        <p>Contact</p>
                        <p>FAQ</p>
                    </div>
                </div>
                <div class="col-md-3 langganan">
                    <h5><b>Langganan</b></h5>
                    <div class="isi-langganan">
                        <input type="text" placeholder="@ Email Anda">
                        <button>BERLANGGANAN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'HomeComponent'
}
</script>

<style lang="scss" scoped>
$rubik: 'Rubik';
$karla: 'Karla', sans-serif;
$rubikmono : 'Rubik Mono One', sans-serif;

.header{
    margin-top: 6%;
    h1{
        font-family: $rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        width: 394px;
        height: 180px;
        margin: 70px 0px 0px 80px;
        text-align: left;
    }
    img{
        margin-right: 24%;
        margin-top: -27%;
        z-index: 1;
    }
    p{
        font-family: $karla;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        width: 426px;
        height: 128px;
        text-align: left;
        margin: 0px 0 0 70px;
        color: #171717;
    }
    .ttgkami{
        background: #1FAB89;
        border-radius: 6px;
        font-family: $rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        width: 164px;
        height: 48px;
        border: none;
        margin: 20px 50% 0px 0px;

        color: #FFFFFF;
    }
    .ttgkami:hover{
        background-color: white;
        color: #1FAB89;
        border: 3px solid #1FAB89;
        border-radius: 6px;
    }
    .grp{
        margin: 90px 63% 40px 0%;
    }
}
.gambar{
    width: 100px;
    height: 495.56px;
    img{
        width: 700px;
        margin-left: -50px;
        height: 495.56px;
        margin-top: 50px;
    }
}
.col{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}
.col2{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-top: 15%;
    margin-bottom: 10%;
}
.col3{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-bottom: 7%;
}
.col4{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}
.col5{
    display: flex;
    flex: wrap;
}
.col6{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-top: 15%;
    margin-bottom: 10%;
}
.sekilas{
    p{
        font-family: $rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        text-align: left;
        color: #8D8D8D;
    }
   .auto{
       margin-left: -40%;
       margin-right: 15%;
   }
   .text{
       margin-top: 7%;
       width: 500px;
       color: #4F4F4F;
       line-height: 32px;
   }
   .layanan{
       border: 3px solid #1FAB89;
       border-radius: 6px;
       background: none;
       color: #1FAB89;
       font-family: $rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        text-align: center;
        padding: 15px 20px 15px 20px;
        margin-left: -75%;
        margin-top: 30px;
   }
   .layanan:hover{
       background-color: #1FAB89;
       color: white;
   }
}
.body{
    .sidebar{
        background-color: #F7F7F7;
        padding: 20px;
        padding-top:7%;
        height: 996px;
        h1{
            padding-top: 20%;
            color: #171717;
            font-family: $rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            width: 308px;
            height: 180px;
            padding-left: 25%;
            line-height: 60px;
            text-align: left;
            margin-bottom: 30%;
        }
        .hi{
            margin-top: -70px;
            z-index: -1;
            height: 140px;
            width: 300px;
            margin-left: 70px;
            img{
                z-index: 1;
            }
        }
        .pesan{
            font-family: $rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            /* identical to box height */

            color: #1FAB89;
            text-align: left;
            padding-left: 25%;
            padding-bottom: -20px;
        }
        .biasa{
            font-family: $rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            /* identical to box height */

            color: #171717;
            text-align: left;
            padding-left: 25%;
            padding-top: 20px;
        }
        .plate{
            height: 374px;
            width: 340px;
            margin-top: 10%;
            margin-left: -100px;
        }
    }
    .card{
        width: 337px;
        height: 398px;
        padding-top: 7%;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        margin: 100px 0 0 90px;
        img{
            width: 93px;
            height: 45.63px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15%;
            margin-bottom: 15%;
        }
        p{
            width: 283px;
            height: 131px;
            font-family: Karla;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;

            color: #8D8D8D;
        }
    }
}
.unduh{
    margin-bottom: 15%;
    .bg{
        max-width: 1349px;
    }
}
.unduh-card{
    position: absolute;
    z-index: 1;
    width: 814px;
        height: 409px;
        background-color: white;
        border: 1px solid #CECECE;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        margin-left: 20%;
        margin-right: auto;
        margin-top: -20%;
    .title{
        display: flex;
        text-align: center;
        img{
            width: 200px;
            height: 50px;
            margin-top: 11%;
        }
        h3{
            padding: 10% 10% 0 23%;
            font-family: $rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 60px;
            /* identical to box height, or 187% */

            color: #171717;
        }
    }
    .bdy{
        padding-top: 7%;
        margin-left: auto;
        margin-right: auto;
        width: 612px;
        height: 87px;
    }
    .ftr{
        margin: 10% 25% 10% 10%;
        button{
            background: #A640F7;
            border-radius: 6px;
            color: white;
            font-family: $rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            padding: 10px;
            border: none;
            margin-left: 70px;
        }
    }
}
.footer{
    background: #F7F7F7;
    width: 1339px;
    height: 410px;
    .lgo{
        margin-top: 10%;
    }
    .umum{
        padding-top: 40px;
        .isi-umum{
            padding-top: 40px;
            text-align: left;
            font-family: $karla;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            /* identical to box height */

            color: #B1B1B1;
        }
    }
    .layan{
        padding-top: 40px;
        .isi-layan{
            padding-top: 40px;
            text-align: left;
            padding-left: 50px;
            font-family: $karla;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            /* identical to box height */

            color: #B1B1B1;
        }
    }
    .bantuan{
        padding-top: 40px;
        text-align: left;
        .isi-bantuan{
            padding-top: 40px;
            text-align: left;
            font-family: $karla;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            /* identical to box height */

            color: #B1B1B1;
        }
    }
    .langganan{
        padding-top: 40px;
        text-align: left;
        .isi-langganan{
            padding-top: 40px;
            text-align: left;
            font-family: $karla;
            input{
                width: 337px;
                height: 48px;

                background: #FFFFFF;
                border: 2px solid #CECECE;
                border-radius: 6px;
            }
            ::placeholder{
                    padding: 10px;
                    font-family: $karla;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    /* identical to box height */

                    color: #CECECE;
                }
            button{
                margin-top: 15px;
                border: 3px solid #1FAB89;
                border-radius: 6px;
                padding: 10px 20px 10px 20px;
                background-color: #F7F7F7;
                color: #1FAB89;
            }
        }
    }
}
</style>
