<template>
    <div>
        <link href="https://fonts.googleapis.com/css?family=Karla|Rubik|Rubik+Mono+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <div class="header">
            <h1>Let's See Our Categories</h1>
            <div class="col1">
                <div class="card" v-for="kategori in categories" :key="kategori.idCategory">
                    <router-link :to="{ name: 'detailkategori', params: {id:kategori.strCategory}}"><b>{{kategori.strCategory}}</b></router-link>
                    <img :src=kategori.strCategoryThumb alt="">
                    <p>{{kategori.strCategoryDescription}}</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="col6">
                <div class="col-md-3">
                    <img class="lgo" src="@/assets/Logo2.png" alt="">
                </div>
                <div class="col-md-1 umum">
                    <h5><b>Umum</b></h5>
                    <div class="isi-umum">
                        <p>Home</p>
                        <p>Tentang</p>
                        <p>Layanan</p>
                        <p>Download</p>
                    </div>
                </div>
                <div class="col-md-2 layan">
                    <h5><b>Layanan</b></h5>
                    <div class="isi-layan">
                        <p>Pemesanan</p>
                        <p>Pembayaran</p>
                        <p>Pengiriman</p>
                    </div>
                </div>
                <div class="col-md-2 bantuan">
                    <h5><b>Bantuan</b></h5>
                    <div class="isi-bantuan">
                        <p>Ketentuan Layanan</p>
                        <p>Privasi</p>
                        <p>Contact</p>
                        <p>FAQ</p>
                    </div>
                </div>
                <div class="col-md-3 langganan">
                    <h5><b>Langganan</b></h5>
                    <div class="isi-langganan">
                        <input type="text" placeholder="@ Email Anda">
                        <button>BERLANGGANAN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios'
export default {
  name: 'kategoricomponent',
  data () {
    return {
      categories: null
    }
  },
  created () {
    axios.get('https://www.themealdb.com/api/json/v1/1/categories.php')
      .then((response) => {
        this.categories = response.data.categories
      })
  }
}
</script>

<style lang="scss" scoped>
$rubik: 'Rubik';
$karla: 'Karla', sans-serif;
$rubikmono : 'Rubik Mono One', sans-serif;
.header{
    margin-top: 7%;
}
.col1{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
.col6{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-bottom: 10%;
}
.card{
    padding: 20px;
    width: 300px;
    margin: 10px;
    height: 450px;
    p{
        overflow: auto;
        text-align: justify;
        padding-top: 20px;
    }
    img{
        max-width: 250px;
        max-height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    a{
        color: #4D4D4D;
        font-size: 20px;
    }
    a:hover{
        color: #1FAB89;
        cursor: pointer;
        text-decoration: none;
    }
}
.footer{
    background: #F7F7F7;
    width: 1339px;
    height: 410px;
    .lgo{
        margin-top: 10%;
    }
    .umum{
        padding-top: 40px;
        .isi-umum{
            padding-top: 40px;
            text-align: left;
            font-family: $karla;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            /* identical to box height */

            color: #B1B1B1;
        }
    }
    .layan{
        padding-top: 40px;
        .isi-layan{
            padding-top: 40px;
            text-align: left;
            padding-left: 50px;
            font-family: $karla;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            /* identical to box height */

            color: #B1B1B1;
        }
    }
    .bantuan{
        padding-top: 40px;
        text-align: left;
        .isi-bantuan{
            padding-top: 40px;
            text-align: left;
            font-family: $karla;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            /* identical to box height */

            color: #B1B1B1;
        }
    }
    .langganan{
        padding-top: 40px;
        text-align: left;
        .isi-langganan{
            padding-top: 40px;
            text-align: left;
            font-family: $karla;
            input{
                width: 337px;
                height: 48px;

                background: #FFFFFF;
                border: 2px solid #CECECE;
                border-radius: 6px;
            }
            ::placeholder{
                    padding: 10px;
                    font-family: $karla;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    /* identical to box height */

                    color: #CECECE;
                }
            button{
                margin-top: 15px;
                border: 3px solid #1FAB89;
                border-radius: 6px;
                padding: 10px 20px 10px 20px;
                background-color: #F7F7F7;
                color: #1FAB89;
            }
        }
    }
}
</style>
