<template>
    <div>
        <div class="body">
            <div class="card" v-for="makanan in dataMakanan" :key="makanan.id">
                <h3>{{makanan.title}}</h3>
                <img :src="makanan.gambar" alt="">
                <h5>{{makanan.desc}}</h5>
                <p>Rp. {{makanan.price}}</p>
                <button @click="pesan">Pesan Sekarang</button>
            </div>
        </div>
        <div class="nota">
            <h2>NOTA PEMBELIAN</h2>
            <p>Harga yang harus dibayar : </p>
        </div>
    </div>
</template>

<script>
import gambar from '@/assets/beef1.jpg'
export default {
  name: 'layanancomponent',
  data () {
    return {
      dataMakanan: [
        { id: 1, gambar: gambar, title: 'Beef and Mustard Pie', desc: 'Pie isi Daging sapi pilihan berkualitas', price: '25000' },
        { id: 2, gambar: gambar, title: 'Beef and Mustard Pie', desc: 'Pie isi Daging sapi pilihan berkualitas', price: '30000' },
        { id: 3, gambar: gambar, title: 'Beef and Mustard Pie', desc: 'Pie isi Daging sapi pilihan berkualitas', price: '40000' }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
$rubik: 'Rubik';
$karla: 'Karla', sans-serif;
$rubikmono : 'Rubik Mono One', sans-serif;
.card{
    float: left;
    margin-top: 7%;
    width: 390px;
    margin-left: 3%;
    font-family: $rubik;
    img{
        max-width: 200px;
        max-height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    h3{
        padding: 5%;
    }
    h5{
        padding-top: 5%;
    }
    button{
        background-color: white;
        border: 3px solid #1FAB89;
        border-radius: 6px;
        color: #1FAB89;
        padding: 10px;
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5%;
    }
    button:hover{
        background-color: #1FAB89;
        color: white;
    }
}
.nota{
    padding-top: 20px;
}
</style>
